body {
  background: #DBF6F4;
  color: #444;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
  
  /* a {
    color: #007bff;
    transition: 0.5s;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #0b6bd3;
    outline: none;
    text-decoration: none;
  }
   */
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }

  
#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  }
  
  #header.header-scrolled,
  #header.header-pages {
    height: 60px;
    padding: 10px 0;
  }
  
  #header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #00366f;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 7px 0;
    max-height: 26px;
  }
  
  .main-pages {
    margin-top: 60px;
  }

/* Navigation Bar */

  
  .main-nav,
  .main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
.main-nav a {
    display: block;
    position: relative;
    color: #B4ADB0;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
  
.main-nav a:hover, .main-nav .active > a {
    color: black;
    text-decoration: none;
}
.button_element{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
}
.darkgreen{
    background-color: #3AAFA9;
}
#login_button{
  align-content: center;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 40px;
  color: #fff;
  border: none;
  border-radius: 6px;
}

.filter_button_1{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    margin: 20px;
    margin-left: 11%;
    border-radius: 6px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;  
}
.filter_button_1:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}

.filter_button_2{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin: 20px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;  
}
.filter_button_2:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}

.filter_button_3{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin: 20px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;  
}
.filter_button_3:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}
.filter_button_4{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin: 20px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;  
}
.filter_button_4:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}

.info_collection{
  border: 1px solid #fff;
  border-radius: 14px;
  position: relative;
  background-color: #fff;
  top: 154.5px;
  padding-bottom: 60px;
}
.clearfix{
    clear: both;
    margin-top: 40px;
}
.clearfix_special{
    clear: both;
    margin-top: 20px;
}
.button_section{

}
.start_end_date_section{ 
  margin-left: 9%;
}
.dob_element {
  width: 82%;
  border: 1px solid #b4adb0;
  border-radius: 6px;
  font-weight: initial;
  background-color: #fff;
  color: #b4adb0;
  padding: 9px;
}
.hide_dates_or_not{
  display: none;
  transition: ease all 0.5s;  
}
.hide_gender_or_not{
  display: none;
  transition: ease all 0.5s;   
}
.hide_education_level_or_not{
  display: none;
  transition: ease all 0.5s;   
}
.hide_language_or_not{
  display: none;
  transition: ease all 0.5s;   
}
.hide_grades_or_not{
  display: none;
  transition: ease all 0.5s;  
}
.filter_sub_element{
  width: 82%;
  border: 1px solid #b4adb0;
  border-radius: 6px;
  font-weight: initial;
  background-color: #fff;
  color: #b4adb0;
  padding: 9px;   
}
.relative_position{
  position: relative;
  top: -6px;
}
.relative_position1{
  position: relative;
  top: -6px;
}
.relative_position2{
  position: relative;
  top: -6px;
  right: -105px;
}
.relative_position3{
  position: relative;
   top: -6px;
  left: 105px;
}
.grade_scale{
    margin-left: 10%;
}
.filter_sub_gender_1{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    margin: 20px;
    margin-left: 11%;
    border-radius: 6px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;  
}
.filter_sub_gender_1:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}
.filter_sub_gender_2{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;   
}
.filter_sub_gender_2:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}
.filter_sub_gender_3{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;   
}
.filter_sub_gender_3:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}
.filter_sub_education_level_1{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;   
}
.filter_sub_education_level_1:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}
.filter_sub_education_level_2{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;   
}
.filter_sub_education_level_2:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}
.filter_sub_education_level_3{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;   
}
.filter_sub_education_level_3:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}
.filter_sub_language_1{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;   
}
.filter_sub_language_1:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}
.filter_sub_language_2{
    border: 1px solid #B4ADB0;
    width: 100%;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    font-weight: initial;
    background-color: #fff;
    color: #B4ADB0;
    transition: ease all 0.3s;   
}
.filter_sub_language_2:hover{
    border: none;
    border-radius: 6px;
    background-color: #3AAFA9;
    color: #fff;
}
.circle_grade_option_0{
  border-radius: 50%;
  width: fit-content;
  color: #9BA3A3;
  border: 1px solid #707070;
  /* padding: 12px; */
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  transition: ease all 0.3s;  
}
.circle_grade_option_0:hover{
  color: white;
  background-color: #3AAFA9;
  border: 1px solid white;
}
.circle_grade_option_1{
  border-radius: 50%;
  width: fit-content;
  color: #9BA3A3;
  border: 1px solid #707070;
  /* padding: 12px; */
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  transition: ease all 0.3s;  
}
.circle_grade_option_1:hover{
  color: white;
  background-color: #3AAFA9;
  border: 1px solid white;
}
.circle_grade_option_2{
  border-radius: 50%;
  width: fit-content;
  color: #9BA3A3;
  border: 1px solid #707070;
  /* padding: 12px; */
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  transition: ease all 0.3s;  
}
.circle_grade_option_2:hover{
  color: white;
  background-color: #3AAFA9;
  border: 1px solid white;
}
.circle_grade_option_3{
  border-radius: 50%;
  width: fit-content;
  color: #9BA3A3;
  border: 1px solid #707070;
  /* padding: 12px; */
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  transition: ease all 0.3s;  
}
.circle_grade_option_3:hover{
  color: white;
  background-color: #3AAFA9;
  border: 1px solid white;
}
.circle_grade_option_4{
  border-radius: 50%;
  width: fit-content;
  color: #9BA3A3;
  border: 1px solid #707070;
  /* padding: 12px; */
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  transition: ease all 0.3s;  
}
.circle_grade_option_4:hover{
  color: white;
  background-color: #3AAFA9;
  border: 1px solid white;
}.circle_grade_option_5{
  border-radius: 50%;
  width: fit-content;
  color: #9BA3A3;
  border: 1px solid #707070;
  /* padding: 12px; */
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  transition: ease all 0.3s;  
}
.circle_grade_option_5:hover{
  color: white;
  background-color: #3AAFA9;
  border: 1px solid white;
}
.circle_grade_option_6{
  border-radius: 50%;
  width: fit-content;
  color: #9BA3A3;
  border: 1px solid #707070;
  /* padding: 12px; */
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  transition: ease all 0.3s;  
}
.circle_grade_option_6:hover{
  color: white;
  background-color: #3AAFA9;
  border: 1px solid white;
}
.circle_grade_option_7{
  border-radius: 50%;
  width: fit-content;
  color: #9BA3A3;
  border: 1px solid #707070;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  transition: ease all 0.3s;  
}
.circle_grade_option_7:hover{
  color: white;
  background-color: #3AAFA9;
  border: 1px solid white;
}
.circle_grade_option_8{
  border-radius: 50%;
  width: fit-content;
  color: #9BA3A3;
  background-color: #fff;
  border: 1px solid #707070;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  transition: ease all 0.3s;  

}
.circle_grade_option_8:hover{
  color: white;
  background-color: #3AAFA9;
  border: 1px solid white;
}
.circle_grade_option_9{
  border-radius: 50%;
  width: fit-content;
  color: #9BA3A3;
  border: 1px solid #707070;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  transition: ease all 0.3s;  
}
.circle_grade_option_9:hover{
  color: white;
  background-color: #3AAFA9;
  border: 1px solid white;
}

#circle_grade_option_10th_number{
  border-radius: 50%;
  width: fit-content;
  color: #9BA3A3;
  border: 1px solid #707070;
  padding-bottom: 8px;
  padding-right: 13px;
  padding-left: 11px;
  padding-top: 8px;
  transition: ease all 0.3s;  
}
.next_button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  color: #fff;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 6px;
}
 .darkgreen{
  background-color: #3AAFA9;
}
.list_display{
  display: none;
  margin-left: 19%;
}

.list_sub_headings
{
  float: left;
  margin: 60px;
  margin-bottom: 1%;
  padding: 10px;
  background-color: green;
  border-radius: 6px;
  font-weight: initial;
  border: 1px solid #B4ADB0;
  background-color: #3AAFA9;;
  color: #fff;
}

.single_entry_row_entry
{
  float: left;
  margin-left: 20%;
  margin-top: 2%;
  color: #B4ADB0;
  font-weight: 500;
  font-size: 22px;
  padding: 10px;
}
.list_headings_data{
  position: relative;
  left: -16.5%;
}
.no_data_error{
  display: none;
  color: red; 
  font-weight: 500; 
  font-size: 30px;
  text-align: center;
}
