body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.main {
  content: "";
  width: 100%;
  height: 100vh;
  position: relative;
}

.container-left {
  width: 12%;
  height: 100%;
  float: left;
  background-color: #3aafa9;
  position: relative;
}
.container-right {
  width: 88%;
  height: 100%;
  float: right;
  text-align: center;
  background-color: #dbf6f4;
}

.sub-top {
  width: 100%;
  height: 10%;
  background-color: white;
  position: relative;
}
.sub-bottom {
  width: 100%;
  height: 90%;
  position: relative;
  overflow: hidden;
}

.content {
  height: 50%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-bar {
  height: 60%;
  width: 40%;
  background-color: #dbf6f4;
  float: left;
  margin: 0;
  margin-top: 0.75%;
  border-radius: 20px;
  position: relative;
}
.left-bar:before {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: #3aafa9;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.right-button {
  float: right;
  height: 100%;
  width: 10%;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  font-family: "Nunito";
}
.right-button p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
}
.right-button:hover {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
}
.icon-question {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.questionmarkk {
  width: 80%;
  height: 80%;
}
.questionmarkk:hover {
  width: 90%;
  height: 90%;
}

.icon-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dob_element {
  width: 20%;
  float: right;
  margin-right: 15%;
  border: transparent;
  font-size: 200%;
  background-color: transparent;
  color: teal;
  padding: 9px;
}
.bottom-top {
  margin: 0;
  width: 90%;
  height: 10%;
  margin-left: 10%;
  margin-top: 2%;
  position: relative;
  font-family: "Nunito";
}
.bottom-middle {
  margin: 0;
  width: 90%;
  height: 15%;
  margin-left: 10%;
  position: relative;
  font-family: "Nunito";
}
.option_1 {
  width: 35%;
  height: 100%;
  float: left;
  text-align: right;
  margin-right: 15%;
  color: teal;
  font-size: 150%;
}
.option_2 {
  width: 35%;
  height: 100%;
  float: left;
  text-align: right;
  color: teal;
  font-size: 150%;
}
.frame {
  margin: 0;
  width: 90%;
  height: 48%;
  margin-left: 10%;
  margin-top: 0%;
  position: relative;
}
.sub-left {
  background-color: #f5fcfb;
  float: left;
  height: 100%;
  width: 35%;
  border-radius: 10px;
  position: relative;
}
.sub-left img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15%;
  height: 30%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  position: center;
}
.sub-right {
  background-color: white;
  float: left;
  height: 100%;
  width: 35%;
  border-radius: 10px;
  position: relative;
}
.middle {
  float: left;
  height: 100%;
  width: 15%;
  border-radius: 10px;
  position: relative;
  text-align: center;
}
.middle p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: teal;
  font-size: 200%;
  font-family: "Nunito";
}
.next_button {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 38px;
  color: #fff;
  background-color: #3aafa9;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 6px;
}
.exit_button_popup {
  border: 1px solid #fff;
  width: 33%;
  display: none;
  border-radius: 14px;
  text-align: center;
  /* padding: 20px; */
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 3%;
  position: absolute;
  background-color: #fff;
  top: 35%;
  left: 34%;
  z-index: 1;
  font-family: "Nunito";
  box-shadow: -1px 1px 18px #3aafa9;
}
.exit_confirmation_buttons {
  float: left;
}
.yes_exit_confirmation_button {
  margin: auto;
  display: flex;
  float: left;
  align-items: center;
  height: 38px;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 22%;
  border-radius: 6px;
  background-color: #fff;
  transition: 0.5s ease all;
  font-family: "Nunito";
  font-size: 20px;
  border: 2.5px solid #3aafa9;
}

.yes_exit_confirmation_button:hover {
  color: #fff;
  background-color: #3aafa9;
  border: none;
}

.no_exit_confirmation_button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 6px;
  background-color: #fff;
  font-family: "Nunito";
  font-size: 20px;
  border: 2.5px solid #3aafa9;
  transition: 0.5s ease all;
}

.no_exit_confirmation_button:hover {
  color: #fff;
  background-color: #3aafa9;
  border: none;
}
.button-start {
  margin-left: auto;
  margin-right: auto;
}
.centered-button {
  widows: 100%;
  height: 10%;
  margin-top: 3%;
  text-align: center;
  position: relative;
  font-family: "Nunito";
}
.centered-button button {
  background-color: #3aafa9;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 2% 3%;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Nunito";
}
.centered-button button:hover {
  padding: 2.2% 3.2%;
  cursor: pointer;
}
