body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.main {
  content: "";
  width: 100%;
  height: 100vh;
  position: relative;
}

.container-left {
  width: 12%;
  height: 100%;
  float: left;
  background-color: #3aafa9;
  position: fixed;
}
.container-right {
  width: 88%;
  height: 100%;
  float: right;
  background-color: #dbf6f4;
}

.sub-top {
  width: 100%;
  height: 10%;
  background-color: white;
  position: relative;
}
.sub-bottom {
  width: 100%;
  height: 65%;
  position: relative;
  overflow: hidden;
  background-image: url("../images/background_image.png");
  background-position: center; /* Center the image */
  background-size: cover;
}
.sub-bottom1 {
  width: 100%;
  height: 90%;
  position: relative;
  overflow: hidden;
  background-image: url("../images/background_image.png");
  background-position: center; /* Center the image */
  background-size: cover;
}


.last {
  position: relative;
  text-align: center;
  height: 20%;
  width: 100%;
}
.last button {
  background-color: #3aafa9;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1.5% 3%;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Nunito";
}
.content {
  height: 50%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-bar {
  height: 60%;
  width: 40%;
  background-color: #dbf6f4;
  float: left;
  margin: 0;
  margin-top: 10px;
  border-radius: 20px;
  position: relative;
}
.left-bar:before {
  content: " ";
  width: 83%;
  height: 100%;
  background-color: #3aafa9;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.right-button {
  float: right;
  height: 100%;
  width: 10%;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
.right-button p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right-button:hover {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
}
.icon-question {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.icon-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.questionmarkk {
  width: 80%;
  height: 80%;
}
.questionmarkk:hover {
  width: 90%;
  height: 90%;
}
.frame {
  margin: 0;
  width: 90%;
  height: 50%;
  margin-left: 8%;
  margin-top: 7%;
  position: relative;
}
.frame1 {
  margin: 0;
  width: 90%;
  height: 45%;
  margin-left: 8%;
  margin-top: 7%;
  position: relative;
}
.question {
	font-size: 170%;
	border-radius: 5px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	margin-right: 13%;
	border: solid #3AAFA9;
	border-width: 2px;
	margin-bottom: 5%;
	background-color:#3AAFA9 ;
  color: white;
  text-align: center;
  }
.sub-left {
  float: left;
  height: 100%;
  width: 40%;
  position: relative;
}

.sub-left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background {
	position: relative;
	top: 49%;
	left: 30%;
	width: 62.5%;
	min-width: 200px;
	transform: translate(-50%, -50%);
	height: 23%;
	background-color: #3AAFA9;
	padding: 1%;
	border-radius: 30px;
  }
  .background audio {
	position: relative;
	top: 49%;
	left: 50%;
	width: 100%;
	min-width: 200px;
	transform: translate(-50%, -50%);
	
  }
  .background1 {
	position: relative;
	top: 49%;
	left: 30%;
	width: 62.5%;
	min-width: 200px;
	transform: translate(-50%, -50%);
	min-width: 102px;
	height: 19%;
	background-color:#3AAFA9;
	padding: 1%;
	border-radius: 30px;
  }
  .background1 audio {
	position: relative;
	top: 49%;
	left: 50%;
	width: 100%;
	min-width: 200px;
	transform: translate(-50%, -50%);
	
  
}
.sub-right {
  float: left;
  height: 100%;
  width: 50%;
  position: relative;
}
.icon-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.exit_button_popup{
  border: 1px solid #fff;
  width: 33%;
  display: none;
  border-radius: 14px;
  text-align: center;
  /* padding: 20px; */
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 3%;
  position: absolute;
  background-color: #fff;
  top: 35%;
  left: 34%;
  z-index: 1;
  font-family: 'Nunito';
  box-shadow: -1px 1px 18px #3aafa9;

}
.exit_confirmation_buttons
{
  float: left; 
}
.yes_exit_confirmation_button
{
    margin: auto;
    display: flex;
    float: left;
    align-items: center;
    height: 38px;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 22%;
    border-radius: 6px;
    background-color: #fff;
    transition: 0.5s ease all;
    font-family: 'Nunito';
    font-size: 20px;
    border: 2.5px solid #3AAFA9; 

}

.yes_exit_confirmation_button:hover
{   
    color: #fff;
    background-color: #3AAFA9;
    border: none;
}

.no_exit_confirmation_button
{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 6px; 
    background-color: #fff;
    font-family: 'Nunito';
    font-size: 20px;
    border: 2.5px solid #3AAFA9;
    transition: 0.5s ease all    
}

.no_exit_confirmation_button:hover
{   
    color: #fff;
    background-color: #3AAFA9;
    border: none;
}
.textt {
  width: 20%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  float: center;
  font-size: 150%;
  border-radius: 20px;
}
.textt:hover {
  background-color: #3aafa9;
  border-radius: 20px;
}
.box-first {
  display: inline-block;
  height: 38%;
  width: 35%;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 1%;
  margin-bottom: 15%;
  align-items: center;
  position: relative;
  text-align: center;
  transition: 0.5s ease all
}

.box-first img {
  width: 80%;
  height: 85%;
  float: bottom;
  align-self: center;
}
.box-first audio {
  width: 90%;
  height: 85%;
  min-width: 100px;
  float: bottom;
  align-self: center;
}
.box-first img:hover {
  width: 85%;
  height: 92%;
  float: bottom;
  align-self: center;
}

.selected-first {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
  padding-bottom: 5%;
  border-radius: 7px;
}

.box-second {
  display: inline-block;
  height: 38%;
  width: 35%;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 1%;
  margin-bottom: 15%;
  align-items: center;
  position: relative;
  text-align: center;
  transition: 0.5s ease all
}

.box-second img {
  width: 80%;
  height: 85%;
  float: bottom;
  align-self: center;
}
.box-second audio {
  width: 90%;
  height: 85%;
  min-width: 100px;
  float: bottom;
  align-self: center;
}
.box-second img:hover {
  width: 85%;
  height: 92%;
  float: bottom;
  align-self: center;
}

.selected-second {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
  padding-bottom: 5%;
  border-radius: 7px;

}

.box-third {
  display: inline-block;
  height: 38%;
  width: 35%;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 1%;
  margin-bottom: 15%;
  align-items: center;
  position: relative;
  text-align: center;
  transition: 0.5s ease all
}

.box-third img {
  width: 80%;
  height: 85%;
  float: bottom;
  align-self: center;
}
.box-third audio {
  width: 90%;
  height: 85%;
  min-width: 100px;
  float: bottom;
  align-self: center;
}
.box-third img:hover {
  width: 85%;
  height: 92%;
  float: bottom;
  align-self: center;
}

.selected-third {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
  padding-bottom: 5%;
  border-radius: 7px;

}

.box-fourth {
  display: inline-block;
  height: 38%;
  width: 35%;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 1%;
  margin-bottom: 15%;
  align-items: center;
  position: relative;
  text-align: center;
  transition: 0.5s ease all
}

.box-fourth img {
  width: 80%;
  height: 85%;
  float: bottom;
  align-self: center;
}
.box-fourth audio {
  width: 90%;
  height: 85%;
  min-width: 100px;
  float: bottom;
  align-self: center;
}
.box-fourth img:hover {
  width: 85%;
  height: 92%;
  float: bottom;
  align-self: center;
}

.selected-fourth {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
  padding-bottom: 5%;
  border-radius: 7px;


}

.box-fifth {
  display: inline-block;
  height: 38%;
  width: 35%;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 1%;
  margin-bottom: 15%;
  align-items: center;
  position: relative;
  text-align: center;
  transition: 0.5s ease all
}
.box-fifth img {
  width: 80%;
  height: 85%;
  float: bottom;
  align-self: center;
}
.box-fifth audio {
  width: 90%;
  height: 85%;
  min-width: 100px;
  float: bottom;
  align-self: center;
}
.box-fifth img:hover {
  width: 85%;
  height: 92%;
  float: bottom;
  align-self: center;
}

.selected-fifth {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
  padding-bottom: 5%;
  border-radius: 7px;


}
.box-sixth {
  display: inline-block;
  height: 38%;
  width: 35%;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 1%;
  margin-bottom: 15%;
  align-items: center;
  position: relative;
  text-align: center;
  transition: 0.5s ease all
}
.box-sixth img {
  width: 80%;
  height: 85%;
  float: bottom;
  align-self: center;
}

.box-sixth audio {
  width: 90%;
  height: 85%;
  min-width: 150px;
  float: bottom;
  align-self: center;
}
.box-sixth img:hover {
  width: 85%;
  height: 92%;
  float: bottom;
  align-self: center;
}

.selected-sixth {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
  padding-bottom: 5%;
  border-radius: 7px;

}
.box-seventh {
  display: inline-block;
  height: 38%;
  width: 35%;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 1%;
  margin-bottom: 15%;
  align-items: center;
  position: relative;
  text-align: center;
  transition: 0.5s ease all
}
.box-seventh img {
  width: 80%;
  height: 85%;
  float: bottom;
  align-self: center;
}
.box-seventh audio {
  width: 90%;
  height: 85%;
  min-width: 150px;
  float: bottom;
  align-self: center;
}
.box-seventh img:hover {
  width: 85%;
  height: 92%;
  float: bottom;
  align-self: center;
}

.selected-seventh {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
  padding-bottom: 5%;
  border-radius: 7px;

}
.box-eighth {
  display: inline-block;
  height: 38%;
  width: 35%;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 1%;
  margin-bottom: 15%;
  align-items: center;
  position: relative;
  text-align: center;
  transition: 0.5s ease all
}
.box-eighth img {
  width: 80%;
  height: 85%;
  float: bottom;
  align-self: center;
}
.box-eighth audio {
  width: 90%;
  height: 85%;
  min-width: 150px;
  float: bottom;
  align-self: center;
}
.box-eighth img:hover {
  width: 85%;
  height: 92%;
  float: bottom;
  align-self: center;
}

.selected-eighth {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
  padding-bottom: 5%;
  border-radius: 7px;


}
.box-ninth {
  display: inline-block;
  height: 38%;
  width: 35%;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 1%;
  margin-bottom: 15%;
  align-items: center;
  position: relative;
  text-align: center;
  transition: 0.5s ease all
}
.box-ninth img {
  width: 80%;
  height: 85%;
  float: bottom;
  align-self: center;
}
.box-ninth audio {
  width: 80%;
  height: 85%;
  min-width: 100px;
  float: bottom;
  align-self: center;
}
.box-ninth img:hover {
  width: 85%;
  height: 92%;
  float: bottom;
  align-self: center;
}

`
.selected-ninth {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
  padding-bottom: 5%;
  border-radius: 7px;


}
.test_div1 {
  display: none;
}
.test_div2 {
  display: none;
}
.test_div3 {
  display: none;
}
.test_div4 {
  display: none;
}
.test_div5 {
  display: none;
}
.test_div6 {
  display: none;
}
.test_div7 {
  display: none;
}
.test_div8 {
  display: none;
}
.test_div9 {
  display: none;
}