body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.main {
  content: "";
  width: 100%;
  height: 100vh;
  position: relative;
}

.container-right {
  width: 100%;
  height: 100%;
  float: right;
  background-color: #f5fcfb;
}

.sub-top {
  width: 100%;
  height: 10%;
  background-color: white;
  position: relative;
}
.sub-bottom {
  width: 100%;
  height: 90%;
  position: relative;
  overflow: hidden;
}
.sub-bottom p {
  font-size: 200%;
  margin-top: 2%;
  text-align: center;
  align-items: center;
}
.content {
  height: 50%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-bar {
  height: 60%;
  width: 40%;
  background-color: #dbf6f4;
  float: left;
  margin: 0;
  margin-top: 0.75%;
  border-radius: 20px;
  position: relative;
}
.left-bar:before {
  content: " ";
  width: 16.5%;
  height: 100%;
  background-color: #3aafa9;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.exit_button_popup {
  border: 1px solid #fff;
  width: 33%;
  display: none;
  border-radius: 14px;
  text-align: center;
  /* padding: 20px; */
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 3%;
  position: absolute;
  background-color: #fff;
  top: 35%;
  left: 34%;
  z-index: 1;
  font-family: "Nunito";
  box-shadow: -1px 1px 18px #3aafa9;
}

.exit_confirmation_buttons {
  float: left;
}
.yes_exit_confirmation_button {
  margin: auto;
  display: flex;
  float: left;
  align-items: center;
  height: 38px;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 22%;
  border-radius: 6px;
  background-color: #fff;
  transition: 0.5s ease all;
  font-family: "Nunito";
  font-size: 20px;
  border: 2.5px solid #3aafa9;
}

.yes_exit_confirmation_button:hover {
  color: #fff;
  background-color: #3aafa9;
  border: none;
}

.no_exit_confirmation_button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 6px;
  background-color: #fff;
  font-family: "Nunito";
  font-size: 20px;
  border: 2.5px solid #3aafa9;
  transition: 0.5s ease all;
}

.no_exit_confirmation_button:hover {
  color: #fff;
  background-color: #3aafa9;
  border: none;
}
.right-button {
  float: right;
  height: 100%;
  width: 10%;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
.right-button p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
}
.right-button:hover {
  background-color: #3aafa9;
  border: 1px solid #3aafa9;
  color: white;
}

.frame {
  margin: 0;
  width: 90%;
  height: 50%;
  margin-left: 8%;
  margin-top: 10%;
  position: relative;
}
.sub-left {
  float: left;
  height: 100%;
  width: 50%;
  margin-left: 5%;
  border-radius: 20px;
  position: relative;
}
.sub-left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-right {
  float: left;
  height: 100%;
  width: 40%;
}
.box {
  display: inline-block;
  height: 50%;
  width: 60%;
  margin-top: 20%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5%;
  text-align: center;
  align-items: center;
  position: relative;
}
.box button {
  background-color: #3aafa9;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  padding: 3% 10%;
  margin-top: 3%;
  font-family: "Nunito";
}
.heading {
  font-size: 250%;
  word-wrap: break-word;
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  font-family: "Nunito";
}

.text {
  font-size: 150%;
  word-wrap: break-word;
  position: relative;
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: "Nunito";
}
