<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Qawaid4Dyslexia</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/DyslexiaScreen2Style.css" rel="stylesheet">
  <!--JavaScript File-->
  
  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<script type="text/javascript">
  function goBack(){
  window.history.back();
}
</script>
<body>
    <header id="header" class="fixed-top">
        <div class="container">
    
          <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
            <!-- <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            <h1 style="color: #2B7A78; font-weight: 500; font-size: 40px;">Qawaid4Dyslexia</h1>
          </div>
    
          <nav class="main-nav float-right d-none d-lg-block col-lg-6">
            <ul>
              <li class="active"><a href="#intro">Screening Test</a></li>
              <li><a href="{{ url_for('homepage', _anchor='whatis') }}">What's Dyslexia?</a></li>
              <li><a href="{{ url_for('homepage', _anchor='about') }}">About Us</a></li>
              <form method="GET" action="{{url_for('login')}}">
              <li class = "button_element"><button class  = "darkgreen" id = "login_button">LOGIN</button></li>
            </form>
            </ul>
          </nav><!-- .main-nav -->
          
        </div>
      </header><!-- #header -->
      <div class = "container center info_collection">
        <div class="clearfix"></div>  
        <div class = "row">
              <div class = "col-lg-6">
                <h2 style = "color: #2B7A78;font-weight: 600;font-size: 40px;">Create Profile</h2>
                <p>Create a profile of the user who will take the test</p>
                <div class = "light_grey_line col-lg-12"></div>
                
                <div class = "clearfix"></div>    
                <p><b>Education-Highest Degree</b></p>
                <div class = "row closer_top">
                  <div class = "col-lg-4 name_form">
                    <!-- <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br> -->
                    <!-- SHOULD CHANGE TO DIV ELEMENT -->
                    <div class = "school_selection">School</div>
                   <!--  <input id = "education_selection" type="radio" name= "selected" value="Male" required/>
                    <label for="School">School</label><br> -->
                  </div>

                  <div class = "col-lg-4 name_form">
                    <!-- <input id = "education_selection" type="radio" name= "selected" value="Female" required/>
                    <label for="College">College</label><br> -->
                    <div class = "college_selection">College</div>
                  </div>

                  <div class = "col-lg-4 name_form">
                    <!-- <input id = "education_selection" type="radio" name= "selected" value="Other" required/>
                    <label for="University">University</label><br> -->
                    <div class = "university_selection">University</div>
                  </div>

              </div> 
            </div>
              <!-- Here we shall add the popup for the Grade Bar -->
              
              <div class = "col-lg-6">
                
                <p style = "color: #3AAFA9">Step 2/3</p>
                <div id="myProgress">
                    
                    <div id="myBar"></div>
                </div>
                <br>
              </div>
      </div>
          <div class = "clearfix"></div>
          <div class = "wow hide_grades_or_not">
          <p><b>Grade</b></p>
          <div class = "row">
                  <div class = "col-lg-1">
                    <!-- <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br> -->
                    <div class = "circle_grade_option_0 selected_grade">1</div>
                  </div>

                  <div class = "col-lg-1">
                    <!-- <input type="radio" name="selected" value="Female" required/>
                    <label for="College">College</label><br> -->
                    <div class = "circle_grade_option_1">2</div>
                  </div>

                  <div class = "col-lg-1">
                    <!-- <input type="radio" name="selected" value="Other" required/>
                    <label for="University">University</label><br> -->
                    <div class = "circle_grade_option_2">3</div>
                  </div>

                  <div class = "col-lg-1">
                    <!-- <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br> -->
                    <div class = "circle_grade_option_3">4</div>
                  </div>
                  <div class = "col-lg-1">
                    <!-- <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br> -->
                    <div class = "circle_grade_option_4">5</div>
                  </div>

                  <div class = "col-lg-1">
                    <!-- <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br> -->
                    <div class = "circle_grade_option_5">6</div>
                  </div>
                  
                  <div class = "col-lg-1">
                    <!-- <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br> -->
                    <div class = "circle_grade_option_6">7</div>
                  </div>
                  
                  <div class = "col-lg-1">
                    <!-- <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br> -->
                    <div class = "circle_grade_option_7">8</div>
                  </div>
                  
                  <div class = "col-lg-1">
                    <!-- <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br> -->
                    <div class = "circle_grade_option_8">9</div>
                  </div>
                  
                  <div class = "col-lg-1">
                    <!-- <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br> -->
                    <div id = "circle_grade_option_10th_number" class = "circle_grade_option_9">10</div>
                  
                  </div>
              </div>
          </div>
          <div class = "clearfix"></div>
          <!-- <a class="darkgreen next_button" href = "{{ url_for('q1_quiz') }}">Button</a> -->
          <div class = end_buttons>
            <i class="fa fa-arrow-left arrow_button" aria-hidden="true" onclick="goBack()"></i>
            <button class = "darkgreen next_button" >Next</button>
          </div>
          

          <div class = "clearfix"></div>
          <div class = "clearfix"></div>
          <div class = "clearfix"></div>
          <div class = "clearfix"></div>
          <div class = "clearfix"></div>
          <div class = "clearfix"></div>
        </div>
  

      <!-- <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="lib/easing/easing.min.js"></script>
      <script src="lib/mobile-nav/mobile-nav.js"></script>
      <script src="lib/wow/wow.min.js"></script>
      <script src="lib/waypoints/waypoints.min.js"></script>
      <script src="lib/counterup/counterup.min.js"></script>
      <script src="lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="lib/isotope/isotope.pkgd.min.js"></script> -->
      <!-- <script src="lib/lightbox/js/lightbox.min.js"></script> -->
      <!-- <script src="../static/lib/mobile-nav/mobile-nav.js"></script> -->
      <script src="../static/lib/wow/wow.min.js"></script>
      <script src="../static/lib/jquery/jquery.min.js"></script>
      <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
      <script src="../static/js/DyslexiaScreen2JS.js"></script>
</body>
</html>
