<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NewBiz Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/DyslexiaScreen_TestTakerStyles.css" rel="stylesheet">
  <!--JavaScript File-->
  
  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
    <header id="header" class="fixed-top">
        <div class="container">
    
          <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
            <!-- <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            <h1 style="color: #2B7A78; font-weight: 500; font-size: 40px;">Q4D</h1>
          </div>
          <div class="container-right">
          <div class="sub-top">
            <div class="content">
              <div class="right-button">
                <p>Exit</p>
              </div>
            </div>
          </div>
  
          <!-- .main-nav -->
          
        </div>
      </div>
      </header><!-- #header -->
      
      <div class = "center info_collection">
        <div class="clearfix"></div>  
        <div class="clearfix"></div>  
        <h3>Who is test-taker?</h3>
        <div class = "container center test_taker_gender_container ">
          
            <div class = "test_taker_gender">
              <figure>
                <img src="../static/images/boy_test_picture.png" style = "width: 100%;">
                <figcaption>Child (under 13)</figcaption>
              </figure>
            </div>
            <div class = "test_taker_gender">
              <figure>
                <img src="../static/images/girl_test_picture.png" style = "width: 100%;">
                <figcaption>Teen or Adult (18+)</figcaption>
              </figure>
            </div> 
        </div>
        <div class="clearfix"></div>  
        <button class = "darkgreen next_button">Confirm</button>
      </div>

  

      <!-- <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="lib/easing/easing.min.js"></script>
      <script src="lib/mobile-nav/mobile-nav.js"></script>
      <script src="lib/wow/wow.min.js"></script>
      <script src="lib/waypoints/waypoints.min.js"></script>
      <script src="lib/counterup/counterup.min.js"></script>
      <script src="lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="lib/isotope/isotope.pkgd.min.js"></script> -->
      <!-- <script src="lib/lightbox/js/lightbox.min.js"></script> -->
      <!-- <script src="../static/lib/mobile-nav/mobile-nav.js"></script> -->
      <script src="../static/lib/wow/wow.min.js"></script>
      <script src="../static/lib/jquery/jquery.min.js"></script>
      <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
      <script src="../static/js/DyslexiaScreen_TestTakerJS.js"></script>
</body>
</html>
