<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Q4D - Login</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../static/css/LoginScreen.css" rel="stylesheet">
    <!--JavaScript File-->
    <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <!-- <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
                <h1 style="color: #2B7A78; font-weight: 500; font-size: 40px;">Q4D</h1>
            </div>

            <nav class="main-nav float-right d-none d-lg-block col-lg-6">
                <ul>
                    <li class="active"><a href="#intro">Screening Test</a></li>
                    <li><a href="{{ url_for('homepage', _anchor='whatis') }}">What's Dyslexia?</a></li>
                    <li><a href="{{ url_for('homepage', _anchor='about') }}">About Us</a></li>
                    <form method="GET" action="{{url_for('login')}}">
                    <li class = "button_element"><button class  = "darkgreen" id = "login_button">LOGIN</button></li>
                  </form>

                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->

   <!-- <div style="clear: both;margin-left: 30%; margin-right: 30%;margin-top: 15%;">
        <h2 style="float:left;font-weight: inherit; font-size:30px;text-align: center;"><a href="#login" ,
                style="text-decoration: none;color: #2B7A78;">Login</a></h2>
        <h2 style="float:right;font-weight: inherit; font-size:30px;text-align: center;"><a href="#register" ,
                style="text-decoration: none;color: #2B7A78;">Register</a></h2>
    </div>
-->
    <div class = "container center login_headings">
        <div class = "row">
            <div class = "col-lg-6">
                <h2 style="font-weight: inherit; font-size:30px;text-align: center;"><a href="#login" ,
                    style="text-decoration: none;color: #2B7A78;">Login</a></h2>
            </div>

            <div class = "col-lg-6">
                <h2 style="font-weight: inherit; font-size:30px;text-align: center;"><a href="{{ url_for('register_1') }}" ,
                    style="text-decoration: none;color: #2B7A78;">Register</a></h2>
            </div>
        </div>
    </div>


    <div class="container center info_collection">
        <div class="row">
            <div class="col-lg-12">
                <form method=POST action="{{ url_for('login') }}">
                <div class="floating-label-group">
                    <input type="text" id="username" class="form-control" name="username" autocomplete="off"  required />
                    <label class="floating-label">Username</label>
                </div>
                <div class="floating-label-group">
                    <input type="password" id="password" class="form-control" name="pass" autocomplete="off" required />
                    <label class="floating-label">Password</label>
                </div>
            </div>
        </div>

        <div>
            <p style="text-align: right;"><a href = "#forgot_password", style="text-decoration: underline;color: #17252a;font-size: 12px;">Forgot Password?</a></p>
        </div>

        <div>
            <button type="submit" class="darkgreen bottom_login_button">Login</button>
        </div>
    </form>
        <br>
        
        <div>
            <p style="text-align: center;"><a href ="{{ url_for('register_1') }}", style="text-decoration: underline;color: #17252a;font-size: 12px;">Don't have an account? Register</a></p>
        </div>


    </div>

</body>
      <script src="../static/lib/jquery/jquery.min.js"></script>
      <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
      <script src="../static/lib/mobile-nav/mobile-nav.js"></script>
      <script src="../static/lib/wow/wow.min.js"></script>
      <script src="../static/js/LoginScreenJS.js"></script>
    </html>