<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/screen4.css">
</head>
<body>
<div class = "exit_button_popup">
	<p style="color: #2B7A78;font-weight: 100;font-size: 30px;">Are you sure you want to exit?</p>
	<a href = "{{url_for('redirecttohomepage')}}"><button class = "yes_exit_confirmation_button">Yes</button></a>
	<button class = "no_exit_confirmation_button">No</button>
</div>
<div class="main">
	<div class="container-left">
		<div class="icon-question">
			<a href = "{{url_for('video_page')}}"><img src="../static/images/questionmark1.png" class="questionmarkk"/></a>
		</div>
		<div class= "icon-gallery">
			<img src="../static/images/test5-logo.png"  width=90% height=90% />
		</div>
	</div>
	<div class="container-right">
		<div class="sub-top">
			<div class="content">
				<div class="left-bar">
					
				</div>
				<div class="right-button">
					<p>Exit</p>
				</div>
			</div>
		</div>
		<!-- https://docs.google.com/uc?export=download&id=1G4E_Nw6W8IaT59_sumo_OrwxfyAxgv6Y -->
		<div class="sub-bottom">
			<div class="frame">
				<P class="question"> Q. For the given audio, select the word that best describes what you hear.</P>

				<div class="sub-left">
					<!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="{{data[0].audio}}" type="audio/ogg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
					<div class="box-first" id = "first_set_id_1">
						<p>{{data[0].option_1}}</p>
					</div>
					<div class="box-first" id = "first_set_id_2">
						<p>{{data[0].option_2}}</p>
					</div>
					<div class="box-first" id = "first_set_id_3">
						<p>{{data[0].option_3}}</p>
					</div>
					<div class="box-first" id = "first_set_id_4">
						<p>{{data[0].option_4}}</p>
				    </div>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<P class="question"> Q. For the given audio, select the word that best describes what you hear.</P>

				<div class="sub-left">
					<!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="{{data[1].audio}}" type="audio/ogg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
					<div class="box-second" id = "second_set_id_1">
						<p> {{data[1].option_1}}</p>
					</div>
					<div class="box-second" id = "second_set_id_2">
						<p>{{data[1].option_2}}</p>
					</div>
					<div class="box-second" id = "second_set_id_3">
						<p>{{data[1].option_3}}</p>
					</div>
					<div class="box-second" id = "second_set_id_4">
						<p> {{data[1].option_4}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<P class="question"> Q. For the given audio, select the word that best describes what you hear.</P>

				<div class="sub-left">
					<!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="{{data[2].audio}}" type="audio/ogg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
					<div class="box-second" id = "second_set_id_1">
						<p> {{data[2].option_1}}</p>
					</div>
					<div class="box-second" id = "second_set_id_2">
						<p>{{data[2].option_2}}</p>
					</div>
					<div class="box-second" id = "second_set_id_3">
						<p>{{data[2].option_3}}</p>
					</div>
					<div class="box-second" id = "second_set_id_4">
						<p> {{data[2].option_4}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<P class="question"> Q. For the given audio, select the word that best describes what you hear.</P>

				<div class="sub-left">
					<!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="{{data[3].audio}}" type="audio/ogg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
					<div class="box-fourth" id = "fourth_set_id_1">
						<p>{{data[3].option_1}}</p>
					</div>
					<div class="box-fourth" id = "fourth_set_id_2">
						<p>{{data[3].option_2}}</p>
					</div>
					<div class="box-fourth" id = "fourth_set_id_3">
						<p>{{data[3].option_3}}</p>
					</div>
					<div class="box-fourth" id = "fourth_set_id_4">
						<p>{{data[3].option_4}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<P class="question"> Q. For the given audio, select the word that best describes what you hear.</P>

				<div class="sub-left">
					<!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="{{data[4].audio}}" type="audio/ogg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
					<div class="box-fifth" id = "fifth_set_id_1">
						<p>{{data[4].option_1}}</p>
					</div>
					<div class="box-fifth" id = "fifth_set_id_2">
						<p>{{data[4].option_2}}</p>
					</div>
					<div class="box-fifth" id = "fifth_set_id_3">
						<p> {{data[4].option_3}}</p>
					</div>
					<div class="box-fifth" id = "fifth_set_id_4">
						<p>{{data[4].option_4}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<P class="question"> Q. For the given audio, select the word that best describes what you hear.</P>

				<div class="sub-left">
					<!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="{{data[5].audio}}" type="audio/ogg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
					<div class="box-sixth" id = "sixth_set_id_1">
						<p>{{data[5].option_1}}</p>
					</div>
					<div class="box-sixth" id = "sixth_set_id_2">
						<p>{{data[5].option_2}}</p>
					</div>
					<div class="box-sixth" id = "sixth_set_id_3">
						<p>{{data[5].option_3}}</p>
					</div>
					<div class="box-sixth" id = "sixth_set_id_4">
						<p>{{data[5].option_4}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<P class="question"> Q. For the given audio, select the word that best describes what you hear.</P>

				<div class="sub-left">
					<!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="{{data[6].audio}}" type="audio/ogg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
					<div class="box-seventh" id = "seventh_set_id_1">
						<p>{{data[6].option_1}}</p>
					</div>
					<div class="box-seventh" id = "seventh_set_id_2">
						<p>{{data[6].option_2}}</p>
					</div>
					<div class="box-seventh" id = "seventh_set_id_3">
						<p>{{data[6].option_3}}</p>
					</div>
					<div class="box-seventh" id = "seventh_set_id_4">
						<p>{{data[6].option_4}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<P class="question"> Q. For the given audio, select the word that best describes what you hear.</P>

				<div class="sub-left">
					<!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="{{data[7].audio}}" type="audio/ogg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">
					<div class="box-eighth" id = "eighth_set_id_1">
						<p>{{data[7].option_1}}</p>
					</div>
					<div class="box-eighth" id = "eighth_set_id_2">
						<p>{{data[7].option_2}}</p>
					</div>
					<div class="box-eighth" id = "eighth_set_id_3">
						<p>{{data[7].option_3}}</p>
					</div>
					<div class="box-eighth" id = "eighth_set_id_4">
						<p>{{data[7].option_4}}</p>
					</div>
				</div>
			</div>
		</div>


		<div class="sub-bottom1">
			<div class="frame1">
				<P class="question1"> Q. For the given audio, select the word that best describes what you hear.</P>

				<div class="sub-left">
					<!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					<audio controls>
						<source src="{{data[8].audio}}" type="audio/ogg">
					  Your browser does not support the audio element.
					  </audio>
				</div>
				<div class="sub-right">

					<div class="box-ninth" id = "ninth_set_id_1">
						<p>{{data[8].option_1}}</p>
					</div>
					<div class="box-ninth" id = "ninth_set_id_2">
						<p>{{data[8].option_2}}</p>
					</div>
					<div class="box-ninth" id = "ninth_set_id_3">
						<p>{{data[8].option_3}}</p>
					</div>
					<div class="box-ninth" id = "ninth_set_id_4">
						<p>{{data[8].option_4}}</p>
					</div>
				</div>
			</div>
			<div class="last">
				<button style="text-decoration: none; color: #fff"> Next Test </button>
			</div>
		</div>
	</div>

</div>
<script src="../static/lib/jquery/jquery.min.js"></script>
<script src="../static/lib/jquery/jquery-migrate.min.js"></script>
<script src="../static/lib/mobile-nav/mobile-nav.js"></script>
<script src="../static/lib/wow/wow.min.js"></script>
<script src="../static/js/mcq.js"></script>
<script src="../static/js/screen4JS.js"></script>
</body>
</html>