<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/screen2.css">
</head>

<body>
<div class="main">
	<div class="container-left">
		<div class="icon-question">
			<img src="../static/images/questionmark1.png" class="questionmarkk"/>
		</div>
		<div class= "icon-gallery">
			<img src="../static/images/test1-logo.png" width=90% height=90%/>
		</div>
	</div>
	<div class="container-right">
		<div class="sub-top">
			<div class="content">
				<div class="left-bar">
					
				</div>
				<div class="right-button">
					<button id="myBtn">Exit</button>
				</div>
			</div>
		</div>
		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="../static/images/chair.jpg" width=75% height=75%/>
				</div>
				<div class="sub-right">
					<div class="box">
						<p> کرسی </p>
					</div>
					<div class="box">
						<p>  کرس</p>
					</div>
					<div class="box">
						<p>  کڑسی</p>
					</div>
					<div class="box">
						<p> کڑس </p>
					</div>
				</div>
			</div>	
		</div>
		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="../static/images/chair.jpg" width=75% height=75%/>
				</div>
				<div class="sub-right">
					<div class="box">
						<p> کرسی </p>
					</div>
					<div class="box">
						<p>  کرس</p>
					</div>
					<div class="box">
						<p>  کڑسی</p>
					</div>
					<div class="box">
						<p> کڑس </p>
					</div>
				</div>
			</div>	
		</div>
		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="../static/images/chair.jpg" width=75% height=75%/>
				</div>
				<div class="sub-right">
					<div class="box">
						<p> کرسی </p>
					</div>
					<div class="box">
						<p>  کرس</p>
					</div>
					<div class="box">
						<p>  کڑسی</p>
					</div>
					<div class="box">
						<p> کڑس </p>
					</div>
				</div>
			</div>	
		</div>
		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="../static/images/chair.jpg" width=75% height=75%/>
				</div>
				<div class="sub-right">
					<div class="box">
						<p> کرسی </p>
					</div>
					<div class="box">
						<p>  کرس</p>
					</div>
					<div class="box">
						<p>  کڑسی</p>
					</div>
					<div class="box">
						<p> کڑس </p>
					</div>
				</div>
			</div>	
		</div>
		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="../static/images/chair.jpg" width=75% height=75%/>
				</div>
				<div class="sub-right">
					<div class="box">
						<p> کرسی </p>
					</div>
					<div class="box">
						<p>  کرس</p>
					</div>
					<div class="box">
						<p>  کڑسی</p>
					</div>
					<div class="box">
						<p> کڑس </p>
					</div>
				</div>
			</div>	
		</div>
		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="../static/images/chair.jpg" width=75% height=75%/>
				</div>
				<div class="sub-right">
					<div class="box">
						<p> کرسی </p>
					</div>
					<div class="box">
						<p>  کرس</p>
					</div>
					<div class="box">
						<p>  کڑسی</p>
					</div>
					<div class="box">
						<p> کڑس </p>
					</div>
				</div>
			</div>	
		</div>
		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="../static/images/chair.jpg" width=75% height=75%/>
				</div>
				<div class="sub-right">
					<div class="box">
						<p> کرسی </p>
					</div>
					<div class="box">
						<p>  کرس</p>
					</div>
					<div class="box">
						<p>  کڑسی</p>
					</div>
					<div class="box">
						<p> کڑس </p>
					</div>
				</div>
			</div>	
		</div>
		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="../static/images/chair.jpg" width=75% height=75%/>
				</div>
				<div class="sub-right">
					<div class="box">
						<p> کرسی </p>
					</div>
					<div class="box">
						<p>  کرس</p>
					</div>
					<div class="box">
						<p>  کڑسی</p>
					</div>
					<div class="box">
						<p> کڑس </p>
					</div>
				</div>
			</div>	
		</div>
		<div class="sub-bottom1">
			<div class="frame1">
				<div class="sub-left">
					<img src="../static/images/chair.jpg" width=75% height=75%/>
				</div>
				<div class="sub-right">
					<div class="box">
						<p> کرسی </p>
					</div>
					<div class="box">
						<p>  کرس</p>
					</div>
					<div class="box">
						<p>  کڑسی</p>
					</div>
					<div class="box">
						<p> کڑس </p>
					</div>
				</div>
			</div>	
			<button> <a href="test2_start_page.html" style="text-decoration: none; color: #fff">Next Test</a> </button>
		</div>
		
	</div>
</div>
<script src="../static/js/mcq.js"></script>
<script>
	// Get the modal
	var modal = document.getElementById("myModal");
	
	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");
	
	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];
	
	// When the user clicks the button, open the modal 
	btn.onclick = function() {
	  modal.style.display = "block";
	}
	
	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	  modal.style.display = "none";
	}
	
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  if (event.target == modal) {
		modal.style.display = "none";
	  }
	}
	</script>
</body>
</html>