<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/screen3.css">
    <link rel="stylesheet" href="../static/css/keyboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class = "exit_button_popup">
	<p style="color: #2B7A78;font-weight: 100;font-size: 30px;">Are you sure you want to exit?</p>
	<a href = "{{url_for('redirecttohomepage')}}"><button class = "yes_exit_confirmation_button">Yes</button></a>
	<button class = "no_exit_confirmation_button">No</button>
</div>
<div class="main">
	<div class="container-left">
		<div class="icon-question">
			<a href = "{{url_for('video_page')}}"><img src="../static/images/questionmark1.png" class="questionmarkk"/></a>
		</div>
		<div class= "icon-gallery">
			<img src="../static/images/test2-logo.png" width=90% height=90%/>
		</div>
	</div>
	<div class = "test_div1">{{data[0].actual_word}}</div>
	<div class = "test_div2">{{data[1].actual_word}}</div>
	<div class = "test_div3">{{data[2].actual_word}}</div>
	<div class = "test_div4">{{data[3].actual_word}}</div>
	<div class = "test_div5">{{data[4].actual_word}}</div>
	<div class = "test_div6">{{data[5].actual_word}}</div>
	<div class = "test_div7">{{data[6].actual_word}}</div>
	<div class = "test_div8">{{data[7].actual_word}}</div>
	<div class = "test_div9">{{data[8].actual_word}}</div>
	<div class="container-right">
		<div class="sub-top">
			<div class="content">
				<div class="left-bar">
					
				</div>
				<div class="right-button">
					<p>Exit</p>
				</div>
			</div>
		</div>
		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="{{data[0].image}}" width=75% height=75%/>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" id = "first_question"  style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="{{data[1].image}}" width=75% height=75%/>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" id = "second_question" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="{{data[2].image}}" width=75% height=75%/>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" id = "third_question" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>


		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="{{data[3].image}}" width=75% height=75%/>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" id = "fourth_question" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="{{data[4].image}}" width=75% height=75%/>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" id = "fifth_question" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="{{data[5].image}}" width=75% height=75%/>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" id = "sixth_question" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="{{data[6].image}}" width=75% height=75%/>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" id = "seventh_question" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
					<img src="{{data[7].image}}" width=75% height=75%/>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" id = "eighth_question" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
		</div>

		<div class="sub-bottom1">
			<div class="frame1">
				<div class="sub-left">
					<img src="{{data[8].image}}" width=75% height=75%/>
				</div>
				<div class="sub-right">
                    <textarea class="use-keyboard-input" id = "ninth_question" style="font-size: 18px; text-align:right;  position: absolute; top: 40%; right: 10%; width: 60%;"></textarea>
				</div>
			</div>
			<button class= "next_button" style="text-decoration: none; color: #fff"> Next Test </button>
		</div>


	</div>
</div>
<script src="../static/lib/jquery/jquery.min.js"></script>
<script src="../static/lib/jquery/jquery-migrate.min.js"></script>
<script src="../static/lib/mobile-nav/mobile-nav.js"></script>
<script src="../static/lib/wow/wow.min.js"></script>
<script src="../static/js/keyboard.js"></script>
<script src="../static/js/screen3JS.js"></script>
</body>
</html>