<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Qawaid4Dyslexia</title>

<link rel="stylesheet" href="../static/css/keyboard.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../static/css/screen6.css">
</head>
<body>
<div class = "exit_button_popup">
	<p style="color: #2B7A78;font-weight: 100;font-size: 30px;">Are you sure you want to exit?</p>
	<a href = "{{url_for('redirecttohomepage')}}"><button class = "yes_exit_confirmation_button">Yes</button></a>
	<button class = "no_exit_confirmation_button">No</button>
</div>
<div class="main">
	<div class="container-left">
		<div class="icon-question">
			<a href = "{{url_for('video_page')}}"><img src="../static/images/questionmark1.png" class="questionmarkk"/></a>
		</div>
		<div class= "icon-gallery">
			<img src="../static/images//test7-logo.png"  width=90% height=90% />
		</div>
	</div>

	<div class="container-right">
		<div class="sub-top">
			<div class="content">
				<div class="left-bar">
					
				</div>
				<div class="right-button">
					<p>Exit</p>
				</div>
			</div>
		</div>
		<div class="sub-bottom1">
			<div class="frame1">
				<P class="question"> For each audio clip in this test, select the option that best describes what you hear.</P>
				<div class="sub-left">
                     <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					 <div class="background1">
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mp4">
						  Your browser does not support the audio element.
						  </audio>
	
					</div>

				</div>
				<div class="sub-right">
					<div class="box-first" id = "first_set_id_1">
                        <div class="textt">
							A
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						    Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-first" id = "first_set_id_2">
                        <div class="textt">
							B
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-first" id = "first_set_id_3">
                        <div class="textt">
							C
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-first" id = "first_set_id_4">
                        <div class="textt">
							D
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
				</div>
				
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                     <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					 <div class="background">
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mp4">
						  Your browser does not support the audio element.
						  </audio>
	
					</div>
				</div>
				<div class="sub-right">
					<div class="box-second" id = "second_set_id_1">
                        <div class="textt">
							A
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-second" id = "second_set_id_2">
                        <div class="textt">
							B
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-second" id = "second_set_id_3">
                        <div class="textt">
							C
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-second" id = "second_set_id_4">
                        <div class="textt">
							D
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
				</div>
				
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                     <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					 <div class="background">
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mp4">
						  Your browser does not support the audio element.
						  </audio>
	
					</div>
				</div>
				<div class="sub-right">
					<div class="box-third" id = "third_set_id_1">
                        <div class="textt">
							A
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-third" id = "third_set_id_2">
                        <div class="textt">
							B
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-third" id = "third_set_id_3">
                        <div class="textt">
							C
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-third" id = "third_set_id_4">
                        <div class="textt">
							D
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
				</div>
				
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                     <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					 <div class="background">
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mp4">
						  Your browser does not support the audio element.
						  </audio>
	
					</div>
				</div>
				<div class="sub-right">
					<div class="box-fourth" id = "fourth_set_id_1">
                        <div class="textt">
							A
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-fourth" id = "fourth_set_id_2">
                        <div class="textt">
							B
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-fourth" id = "fourth_set_id_3">
                        <div class="textt">
							C
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-fourth" id = "fourth_set_id_4">
                        <div class="textt">
							D
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
				</div>
				
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                     <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					 <div class="background">
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mp4">
						  Your browser does not support the audio element.
						  </audio>
	
					</div>
				</div>
				<div class="sub-right">
					<div class="box-fifth" id = "fifth_set_id_1">
                        <div class="textt">
							A
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-fifth" id = "fifth_set_id_2">
                        <div class="textt">
							B
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-fifth" id = "fifth_set_id_3">
                        <div class="textt">
							C
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-fifth" id = "fifth_set_id_4">
                        <div class="textt">
							D
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
				</div>
				
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                     <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					 <div class="background">
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mp4">
						  Your browser does not support the audio element.
						  </audio>
	
					</div>
				</div>
				<div class="sub-right">
					<div class="box-sixth" id = "sixth_set_id_1">
                        <div class="textt">
							A
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-sixth" id = "sixth_set_id_2">
                        <div class="textt">
							B
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-sixth" id = "sixth_set_id_3">
                        <div class="textt">
							C
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-sixth" id = "sixth_set_id_4">
                        <div class="textt">
							D
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
				</div>
				
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                     <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					 <div class="background">
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mp4">
						  Your browser does not support the audio element.
						  </audio>
	
					</div>
				</div>
				<div class="sub-right">
					<div class="box-seventh" id = "seventh_set_id_1">
                        <div class="textt">
							A
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-seventh" id = "seventh_set_id_2">
                        <div class="textt">
							B
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-seventh" id = "seventh_set_id_3">
                        <div class="textt">
							C
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-seventh" id = "seventh_set_id_4">
                        <div class="textt">
							D
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
				</div>
				
			</div>
		</div>

		<div class="sub-bottom">
			<div class="frame">
				<div class="sub-left">
                     <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					 <div class="background">
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mp4">
						  Your browser does not support the audio element.
						  </audio>
	
					</div>
				</div>
				<div class="sub-right">
					<div class="box-eighth" id = "eighth_set_id_1">
                        <div class="textt">
							A
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-eighth" id = "eighth_set_id_2">
                        <div class="textt">
							B
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-eighth" id = "eighth_set_id_3">
                        <div class="textt">
							C
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div  class="box-eighth" id = "eighth_set_id_4">
                        <div class="textt">
							D
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
				</div>
				
			</div>
		</div>

		<div class="sub-bottom1">
			<div class="frame1">
				<div class="sub-left">
                     <!-- <img src="./images/speaker.png" width=30% height=42%/> -->
					 <div class="background1">
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mp4">
						  Your browser does not support the audio element.
						  </audio>
	
					</div>
				</div>
				<div class="sub-right">
					<div class="box-ninth" id = "ninth_set_id_1">
                        <div class="textt">
							A
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-ninth" id = "ninth_set_id_2">
                        <div class="textt">
							B
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div class="box-ninth" id = "ninth_set_id_3">
                        <div class="textt">
							C
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
					<div  class="box-ninth" id = "ninth_set_id_4">
                        <div class="textt">
							D
						</div>
						 <!-- <img src="./images/answer_option.png"/> -->
						<audio controls>
							<source src="../static/audio_files/temp sound.mp3" type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>
					</div>
				</div>
			</div>
			<div class="last">
				<button class= "next_button" style="text-decoration: none; color: #fff"> Next Test </button>
			</div>	
		</div>
	</div>
</div>
<script src="../static/lib/jquery/jquery.min.js"></script>
<script src="../static/lib/jquery/jquery-migrate.min.js"></script>
<script src="../static/lib/mobile-nav/mobile-nav.js"></script>
<script src="../static/lib/wow/wow.min.js"></script>
<script src="../static/js/mcq.js"></script>
<script src="../static/js/screen6JS.js"></script>
</body>
</html>