<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="./css_files/test_start_page.css">
</head>

<body>
<div class="main">
	<div class="container-right">
		<div class="sub-top">
			<div class="content">
				<div class="left-bar">
					
				</div>
				<div class="right-button">
					<p>Exit</p>
				</div>
			</div>
		</div>
		<div class="sub-bottom">
			<div class="sub-left">
				<img src="./images/test1.png" width=80% height=75%/>
            </div>
                
			<div class="sub-right">
                <div class="box">
                    <div class="heading">
                        Picture-Word - MCQ
                    </div>
                    <div class="text">
                        Subheading text here. Dummy Text: Dyslexia is a neurological symptom wherein an individual experiences difficulty reading.
                    </div>
                    <button> Start </button>
                </div>
				
			</div>		
		</div>
	</div>
</div>
</body>
</html>