<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Qawaid4Dyslexia</title>

<link rel="stylesheet" href="../static/css/test8_start_page.css">
</head>

<body>
<div class = "exit_button_popup">
	<p style="color: #2B7A78;font-weight: 100;font-size: 30px;">Are you sure you want to exit?</p>
	<a href = "{{url_for('redirecttohomepage')}}"><button class = "yes_exit_confirmation_button">Yes</button></a>
	<button class = "no_exit_confirmation_button">No</button>
</div>
<div class="main">
	<div class="container-right">
		<div class="sub-top">
			<div class="content">
				<div class="left-bar">
					
				</div>
				<div class="right-button">
					<p>Exit</p>
				</div>
			</div>
		</div>
		<div class="sub-bottom">
			<div class="sub-left">
				<img src="../static/images/test8.png" width=80% height=75%/>
            </div>
                
			<div class="sub-right">
                <div class="box">
                    <div class="heading">
                        Essay Writing
                    </div>
                    <div class="text">
						In this section, write a few short paragraphs on a topic of your choice. You can use the on-screen keyboard or upload handwritten text.                    </div>
                    <button class = "start_button" style="text-decoration: none; color: #fff">Start</button>
                </div>
				
			</div>		
		</div>
	</div>
</div>
<script src="../static/lib/jquery/jquery.min.js"></script>
<script src="../static/lib/jquery/jquery-migrate.min.js"></script>
<script src="../static/lib/mobile-nav/mobile-nav.js"></script>
<script src="../static/lib/wow/wow.min.js"></script>
<script src="../static/js/test8_start_pageJS.js"></script>
</body>
</html>