<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/video_demo.css">
</head>
<script type="text/javascript">
  function goBack(){
  window.history.back();
}
</script>
<body>

    <video controls="controls" class="center" width="60%" height="70%">
        <source src="../static/images/vid.mp4" type="video/mp4">
        Your browser does not support HTML video.
    </video>
    <button class="buttonn" onclick="goBack()"> <b>Skip</b> </button>

</body>
</html>